<input type="text" placeholder="buscar amigo" [(ngModel)]="query">
<br>
<b>Amigos</b>
<ng-container *ngFor="let user of friends | search:query; let i = index;">
    <div >
         <a routerLink="/conversation/{{user.uid}}">
                {{i}}. {{user.nick}} - {{user.email}}
        </a>
    </div>
</ng-container>











